REACT_APP_API='https://gateway.marvel.com/v1/public'
REACT_APP_API_KEY='d32297b671ea34c242f59e507f7338d5'
REACT_APP_API_PRIVATE_KEY='c5309220eec970bcdd8da514c70dc4a330da81db'

REACT_APP_PATH_LANDING=''
REACT_APP_PATH_CHARACTER_INFO='/character/:characterId'