.character-card {
    width: 11.7856rem;
    height: 15.3731rem;

    &:hover .name {
        background-position: 0 -100%;

        svg path {
            fill: var(--marvel-white-color);
        }
    }

    .thumbnail {
        position: relative;
        width: 100%;

        > img {
            height: 11.7481rem;
            width: inherit;
            object-fit: cover;
            object-position: bottom;
        }

        .divider {
            display: block;
            height: 0.3362rem;
            width: 100%;
            background-color: var(--marvel-secondary-color);
            position: absolute;
            bottom: 0;
        }

    }

    .name {
        position: relative;
        height: 3.5rem;
        color: var(--marvel-white-color);
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem 1rem 1.5rem;
        font-size: 0.875rem;
        text-transform: uppercase;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, var(--marvel-primary-color) 50%, var(--marvel-secondary-color) 50%);
        -webkit-transition: background-position 1s;
        -moz-transition: background-position 1s;
        transition: background-position 300ms ease-in-out;

        svg {
            width: 1rem;
            height: auto;
            path {
                transition: fill 400ms ease-in-out;
            }
         }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 0.8037rem solid var(--marvel-white-color);
            border-left: 0.8037rem solid transparent;
            width: 0;
        }
    }
}